version: '2.2'

networks:
  internal:
    driver: bridge
  consul-network:
    external:
      name: docker-compose-ha-consul-vault-ui_internal

volumes:
  kapacitor-data:

services:
  kapacitor:
    image: 'kapacitor'
    init: true
    expose:
      - 9092/tcp
    networks:
      - internal
      - consul-network
    volumes:
      - 'kapacitor-data:/var/lib/kapacitor'
      - ${HOME}/git/github/docker-compose-ha-consul-vault-ui/consul:/usr/local/bin/consul
      - ${HOME}/git/github/docker-compose-ha-consul-vault-ui/jq:/usr/local/bin/jq
      - ${HOME}/git/github/docker-compose-ha-consul-vault-ui/scripts/consul-agent.sh:/bin/consul-agent.sh
    dns:
      - 172.16.238.2
      - 172.16.238.3
    environment:
      KAPACITOR_HOSTNAME: 'kapacitor.service.consul'
      KAPACITOR_INFLUXDB_0_URLS_0: 'http://influxdb.service.consul:8086'
      KAPACITOR_INFLUXDB_0_KAPACITOR_HOSTNAME: 'kapacitor.service.consul'
    entrypoint: ''
    command:
      - /bin/sh
      - -c
      - |
        set -ex
        export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        type unzip || (
          until apt-get update; do sleep 3; done
          until apt-get -y --no-install-recommends install unzip curl ca-certificates procps less vim; do sleep 3; done
        )
        IP="$$(awk '/32 host/ && f ~ /172.16.238/ { print f; exit }; {f=$$2}' /proc/net/fib_trie)"
        consul-agent.sh --consul-host consul.service.consul --advertise "$$IP" --service '{"service": {"name": "kapacitor", "tags": [], "port": 9092}}'
        chown kapacitor. /var/lib/kapacitor
        env | awk '/KAPACITOR_|PATH/ { print "export \""$$0"\"" }' > /tmp/environ.sh
        exec su -s /bin/sh -c "set -ex; . /tmp/environ.sh; exec /entrypoint.sh kapacitord" - kapacitor
